.custom-prev-btn{
  display: block;
  aspect-ratio: 1/ 1;
  position: absolute;
  font-family: 'Consolas', 'Roboto Mono', 'Courier New', monospace;
  font-size: 1.1vw;
  left: 0;
  top: 18%;
  width: 3%;
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #3877EE;
}
.custom-next-btn{
  display: block;
  aspect-ratio: 1/ 1;
  position: absolute;
  font-family: 'Consolas', 'Roboto Mono', 'Courier New', monospace;
  font-size: 1.1vw;
  right: 0;
  top: 18%;
  width: 3%;
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #3877EE;
}
/*Скрываем кнопки, когда они неактивны*/
.swiper-button-disabled {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 0.3s ease;
}

/*Полоска пагинации*/
.swiper-pagination {
  position: absolute;
  left: 55% !important;
  top: 90% !important;

}
/*Отдельные точки пагинации*/
.swiper-pagination-bullet {
  aspect-ratio: 1/1;
  width: 2vw;
  height: auto;
  transform: scale(1) !important;
  margin: 0 2vw !important;
}
/* Стиль активной точки */
.swiper-pagination-bullet-active {
  background: #42567A;
}
.swiper-pagination-bullet-active-main,
.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  transform: scale(1) !important;
}