@font-face{
    font-family: 'PtSansRegular';
    src: url('assets/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'PtSansBold';
    src: url('assets/PTSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'BebasNeueRegular';
    src: url('assets/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}